.draw-area {
    width: 1150px;
    height: 490px;
    overflow: scroll;
    position: relative;
}
#grid-layer {
    position: absolute; 
    left: 0;
    top: 0; 
    z-index: 0;
}
#darw-layer {
    position: absolute; 
    left: 0; 
    top: 0; 
    z-index: 1;
}