<div id="style-box">
    <div class="element">
        <button class="zoom-btn">-</button>
        <div>
            <label class="right-element">Zoom</label>
            <label class="zoom-ratio">100%</label>
        </div>
        <button class="zoom-btn right-element">+</button>
    </div> 
    <div class="element">
        <label for="stroke-width" class="symbol">
            <img src="../assets/tools/icons8-ball-point-pen-48.png" width="24" height="24"/>
        </label>
        <input type="number" id="stroke-width" class="number" title="Stroke width" (change)="changeWidth()">
    </div>
    <div class="element">
        <label for="stroke-style" class="symbol">
            <img src="../assets/tools/icons8-pencil-drawing-48.png" width="24" height="24"/>
        </label>
        <select name="styles" id="stroke-style" (change)="changeDash()">
            <option value="solid">Solid</option>
            <option value="dashed-1">Dashed-1</option>
            <option value="dashed-2">Dashed-2</option>
            <option value="dashed-3">Dashed-3</option>
        </select>
    </div>
    <div class="element">
        <label for="stroke-color" class="symbol">
            <img src="../assets/tools/icons8-marker-pen-48.png" width="24" height="24"/>
        </label>
        <input type="color" id="stroke-color" title="Stroke color" (change)="changeColor()">
    </div>
    <div class="element">
        <label for="fill-color" class="symbol">
            <img src="../assets/tools/icons8-fill-drip-48.png" width="24" height="24"/>
        </label>
        <input type="color" id="fill-color" title="Fill color" (change)="changeColorFill()">
    </div>
    <div class="element">
        <label>Custom Shapes</label>
    </div>
    <div class="shape-grid">
        <button class="tool-btn custom">
            <img src="../assets/customShapes/flaticon-drop.png" width="32" height="32"/>
        </button>
        <button class="tool-btn custom">
            <img src="../assets/customShapes/icons8-clubs-32.png" width="32" height="32"/>
        </button> 
        <button class="tool-btn custom">
            <img src="../assets/customShapes/icons8-diamond-32.png" width="32" height="32"/>
        </button>

        <button class="tool-btn custom">
            <img src="../assets/customShapes/flaticon-closed-curve.png" width="32" height="32"/>
        </button>
        <button class="tool-btn custom">
            <img src="../assets/customShapes/icons8-basic-64.png" width="32" height="32"/>
        </button>
        <button class="tool-btn custom">
            <img src="../assets/customShapes/icons8-atom-32.png" width="32" height="32"/>
        </button>
        
        <button class="tool-btn custom">
            <img src="../assets/customShapes/flaticon-intersection-64.png" width="32" height="32"/>
        </button>
        <button class="tool-btn custom">
            <img src="../assets/customShapes/semicircle-64.png" width="32" height="32"/>
        </button>
    </div>

</div>

