<div id="app">
  <app-menu-bar (gridShow)="onChangeGrid($event)"
  ></app-menu-bar>

  <div class="content">
    <app-tool-box (pencilDraw)="onChangePencil($event)"
                  (eraseAction)="onChangeErase($event)"
                  (textDraw)="onChangeText($event)"
                  (lineDraw)="onChangeLine($event)"
                  (triDraw)="onChangeTri($event)"
                  (rhomboidDraw)="onChangeRhomboid($event)"
                  (rectDraw)="onChangeRect($event)"
                  (rhombusDraw)="onChangeRhombus($event)"
                  (trapezoidDraw)="onChangeTrapezoid($event)"
                  (pentDraw)="onChangePent($event)"
                  (hexDraw)="onChangeHex($event)"
                  (heptDraw)="onChangeHept($event)"
                  (circDraw)="onChangeCirc($event)"
                  (elliDraw)="onChangeElli($event)"
                  (starDraw)="onChangeStar($event)"
                  (heartDraw)="onChangeHeart($event)"
    ></app-tool-box>
    <div>
      <app-canvas [gridChange]="gridChange"
                  
                  [pencilEvent]="pencilEvent"
                  [eraseEvent]="eraseEvent"
                  [textEvent]="textEvent"
                  [lineEvent]="lineEvent"
                  [triEvent]="triEvent"
                  [rhomboidEvent]="rhomboidEvent"
                  [rectEvent]="rectEvent"
                  [rhombusEvent]="rhombusEvent"
                  [trapezoidEvent]="trapezoidEvent"
                  [pentEvent]="pentEvent"
                  [hexEvent]="hexEvent"
                  [heptEvent]="heptEvent"
                  [circEvent]="circEvent"
                  [elliEvent]="elliEvent"
                  [starEvent]="starEvent"
                  [heartEvent]="heartEvent"
                  
                  [fontChange]="fontChange"
                  [widthChange]="widthChange"
                  [dashChange]="dashChange"
                  [colorChange]="colorChange"
                  [colorFillChange]="colorFillChange"
      ></app-canvas>
      <app-nav-bar></app-nav-bar>
    </div>
    <app-style-box (fontChange)="onChangeFont($event)"
                   (widthChange)="onChangeWidth($event)"
                   (dashChange)="onChangeDash($event)"
                   (colorChange)="onChangeColor($event)"
                   (colorFillChange)="onChangeColorFill($event)"
    ></app-style-box>
  </div>

</div>
