<div class="menu-bar">
    <div>
        <div class="top">
            <label id="logo">Draw & Paint</label>
            <input type="text" id="file-name">
            <a href="">see file status</a>
            
        </div>
        <div class="top">
            <div>
                <button class="menu-btn">File</button>
                <button class="menu-btn">Edit</button>
                <button class="menu-btn">Insert</button>
                <button class="menu-btn">View</button>
                <button class="menu-btn">Help</button>
            </div>
            <button class="menu-btn">-</button>
            <label>Zoom</label>
            <button class="menu-btn">+</button>
        </div>
    </div>
    

    <div>
        <button class="btn" title="Grid">
            <img src="../assets/icons8-grid-48.png" width="24px" height="24px">
        </button>
        <button class="btn" title="Select">
            <img src="../assets/icons8-select-48.png" width="24px" height="24px">
        </button>
        <button class="btn" title="Delete">
            <img src="../assets/icons8-delete-48.png" width="24px" height="24px">
        </button>
        <button class="btn" title="Undo">
            <img src="../assets/icons8-undo-48.png" width="24px" height="24px">
        </button>
        <button class="btn" title="Redo">
            <img src="../assets/icons8-redo-48.png" width="24px" height="24px">  
        </button> 
    </div>  
</div>
