<div class="menu-bar">
    <div>
        <input type="text" id="file-name">
        <button title="undo">
            <img src="../assets/icons8-undo-48.png" width="24px" height="24px">
        </button>
        <button title="redo">
            <img src="../assets/icons8-redo-48.png" width="24px" height="24px">  
        </button>
    </div>

    <div>
        <button class="menu-btn">File</button>
        <button class="menu-btn">Edit</button>
        <button class="menu-btn">View</button>

       
    </div>  
</div>
