#tool-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #D0D0D0;
    width: 45px;
    height: 500px;
}
.tool-btn {
    width: 40px;
    height: 40px;
    background-color: #D0D0D0;
    border-radius: 20%;
    border: none;
}
.tool-btn:hover {
    background-color: #A9A9A9;
}
.tool-btn:active {
    background-color: #A9A9A9;
}